In [19]:
import pandas as pd
from geopy.geocoders import Nominatim

In [4]:
# Data to be merged into "places of interest" table
libraries = pd.read_csv('data/Libraries.csv')
schools = pd.read_csv('data/bcpss_school.csv')
shelters = pd.read_csv('data/Homeless_Shelters.csv')
parks = pd.read_csv('data/Parks.csv')
religious = pd.read_csv('data/Religious_Buildings.csv')
vacancies = pd.read_csv('data/Vacant_Buildings.csv')

# Stand-alone data
cctv = pd.read_csv('data/CCTV_Locations.csv')
arrests = pd.read_csv('data/BPD_Arrests.csv')

In [5]:
libraries.head()

,name,zipCode,neighborhood,councilDistrict,policeDistrict,Location 1
0,Central,21201,Downtown,11,CENTRAL,"400 Cathedral St\nBaltimore, MD\n"
1,Brooklyn,21225,Brooklyn,10,SOUTHERN,"300 Patapsco Av\nBaltimore, MD\n"
2,Canton,21224,Canton,1,SOUTHEASTERN,"1030 Ellwood St\nBaltimore, MD\n"
3,Cherry Hill,21225,Cherry Hill,10,SOUTHERN,"606 Cherry Hill\nBaltimore, MD\n"
4,Clifton,21213,South Clifton Park,12,EASTERN,"2001 Wolfe St\nBaltimore, MD\n"

In [12]:
libraries['Location 1'] = libraries['Location 1'].map(lambda x: x.replace('\n', ' '))
addresses = libraries['Location 1']
lats = []
longs = []

In [ ]:
geolocator = Nominatim()
for addr in addresses:
    loc = geolocator.geocode( addr )
    if loc is None:
        lats.append(0)
        longs.append(0)
    else:
        lats.append( loc.latitude )
        longs.append( loc.longitude )

libraries['longitude'] = longs
libraries['latitude'] = lats

In [23]:
libraries.drop(libraries.columns[[0,1,2,3,4]], axis=1, inplace=True)
libraries['type'] = 'library'

In [25]:
libraries.head()

                        Location 1  longitude   latitude     type
0  400 Cathedral St Baltimore, MD  -76.617356  39.294524  library
1   300 Patapsco Av Baltimore, MD  -76.493968  39.309621  library
2   1030 Ellwood St Baltimore, MD    0.000000   0.000000  library
3   606 Cherry Hill Baltimore, MD  -76.627020  39.249075  library
4     2001 Wolfe St Baltimore, MD    0.000000   0.000000  library

In [15]:
schools.head()

,the_geom,BLDG_NUM,PRG__NUM,NAME,GRADES,ADDRESS,ZIPCODE,CATEGORY,TYPE,x_1,y_1
0,POINT (-76.64266675278692 39.28711467734809),4,4,Steuart Hill,Pre-K - 8.,30 S. Gilmor Street,21223,PK8,Traditional,1.413475e+06,590354.091197
1,POINT (-76.68003141238741 39.34221757818064),5,5,Langston Hughes,Pre-K - 5.,5011 Arbutus Avenue,21215,ES,Traditional,1.402829e+06,610385.163011
2,POINT (-76.6057623882412 39.31319754690319),7,7,Cecil,Pre-K - 5.,2000 Cecil Avenue,21218,ES,Traditional,1.423880e+06,599897.264696
3,POINT (-76.59736271963178 39.2896100180029),8,8,City Springs,Pre-K - 8.,100 S. Caroline Street,21231,Charter,Conversion Charter,1.426295e+06,591316.342553
4,POINT (-76.63269940511316 39.28742897663944),10,10,James McHenry,Pre-K - 6,31 S. Schroeder Street,21223,PK8,Traditional,1.416296e+06,590479.765486

In [16]:
#schools['ADDRESS'] = schools['ADDRESS'].map(lambda x: x.replace('\n', ' '))
addresses = schools['ADDRESS']
lats = []
longs = []

In [17]:
for addr in addresses:
    loc = geolocator.geocode( addr )
    if loc is None:
        lats.append(0)
        longs.append(0)
    else:
        lats.append( loc.latitude )
        longs.append( loc.longitude )

schools['longitude'] = longs
schools['latitude'] = lats

In [30]:
schools.drop(schools.columns[[0,1,2,3,4,6,7,8,9,10]], axis=1, inplace=True)
schools['type'] = 'school'

In [31]:
schools.head()

                  ADDRESS  longitude   latitude    type
0     30 S. Gilmor Street -76.642461  39.287720  school
1     5011 Arbutus Avenue -75.143451  40.184097  school
2       2000 Cecil Avenue -76.605701  39.313296  school
3  100 S. Caroline Street  -1.241413  51.750735  school
4  31 S. Schroeder Street -76.633577  39.288130  school

In [32]:
shelters.head()

,name,type,zipCode,neighborhood,councilDistrict,policeDistrict,Location 1
0,American Rescue Workers,Emergency,21230.0,SBIC,10.0,SOUTHERN,"11 Clement St\nBaltimore, MD\n"
1,Aunt CC's Harbor House,Emergency,21202.0,Oldtown,12.0,EASTERN,"1031 Monument St\nBaltimore, MD\n"
2,Baltimore Rescue Mission,Emergency,21202.0,Jonestown,12.0,SOUTHEASTERN,"4 Central\nBaltimore, MD\n"
3,Christ Lutheran Place,Emergency,21230.0,Otterbein,11.0,SOUTHERN,"701 Charles\nBaltimore, MD\n"
4,"Code Blue J, H & R",Emergency (temporary),21202.0,Jonestown,12.0,SOUTHEASTERN,"1001 Fayette St\nBaltimore, MD\n"

In [36]:
shelters['Location 1'] = shelters['Location 1'].map(lambda x: str(x).replace('\n', ' '))
addresses = shelters['Location 1']
lats = []
longs = []

In [37]:
for addr in addresses:
    loc = geolocator.geocode( addr )
    if loc is None:
        lats.append(0)
        longs.append(0)
    else:
        lats.append( loc.latitude )
        longs.append( loc.longitude )

shelters['longitude'] = longs
shelters['latitude'] = lats

In [41]:
shelters.drop(shelters.columns[[0,2,3,4,5]], axis=1, inplace=True)
shelters['type'] = 'shelter'

In [42]:
shelters.head()

      type                       Location 1  longitude   latitude
0  shelter     11 Clement St Baltimore, MD    0.000000   0.000000
1  shelter  1031 Monument St Baltimore, MD    0.000000   0.000000
2  shelter         4 Central Baltimore, MD  -76.671789  39.345698
3  shelter       701 Charles Baltimore, MD  -76.617038  39.318427
4  shelter   1001 Fayette St Baltimore, MD    0.000000   0.000000

In [43]:
parks.head()

,name,district,acres,Location 1
0,32nd Street Park,Clifton,0.1342,"301 32nd St\nBaltimore, MD\n"
1,Adams Park,Clifton,0.5100,"1530 Montpelier St\nBaltimore, MD\n"
2,Alexander Odum Park,Gwynns Falls,1.1550,"3111 Presstman St\nBaltimore, MD\n"
3,Alhambra Park,Clifton,0.8905,"5200 Alhambra Ave\nBaltimore, MD\n"
4,Ambrose Kennedy Park,Patterson,1.7306,"1002 Harford Rd\nBaltimore, MD\n"

In [44]:
parks['Location 1'] = parks['Location 1'].map(lambda x: str(x).replace('\n', ' '))
addresses = parks['Location 1']
lats = []
longs = []

In [45]:
for addr in addresses:
    loc = geolocator.geocode( addr )
    if loc is None:
        lats.append(0)
        longs.append(0)
    else:
        lats.append( loc.latitude )
        longs.append( loc.longitude )

parks['longitude'] = longs
parks['latitude'] = lats

In [49]:
parks.drop(parks.columns[[0,1,2]], axis=1, inplace=True)
parks['type'] = 'park'

In [50]:
parks.head()

                          Location 1  longitude   latitude  type
0         301 32nd St Baltimore, MD  -76.523049  39.325398  park
1  1530 Montpelier St Baltimore, MD  -76.597740  39.321572  park
2   3111 Presstman St Baltimore, MD  -76.669871  39.304265  park
3   5200 Alhambra Ave Baltimore, MD  -76.605885  39.352697  park
4     1002 Harford Rd Baltimore, MD  -76.593253  39.318576  park

In [51]:
religious.head()

,name,type,zipCode,neighborhood,councilDistrict,policeDistrict,Location 1
0,Christian Memorial Church,Church,21217,Easterwood,7,WESTERN,"2001 NORTH AVE\nBaltimore, MD\n"
1,Har Sinai Church Of Christ,Church,21231,Fells Point,1,SOUTHEASTERN,"300 BROADWAY\nBaltimore, MD\n"
2,Lords Church,Church,21215,Central Park Heights,6,NORTHWESTERN,"5010 PARK HEIGHTS AVE\nBaltimore, MD\n"
3,Hallelujah United Church Of God,Church,21215,Arlington,5,NORTHWESTERN,"3606 ROGERS AVE\nBaltimore, MD\n"
4,Fourth Mount Zion Baptist Church,Church,21216,Hanlon-Longwood,7,NORTHWESTERN,"2504 HILTON ST\nBaltimore, MD\n"

In [52]:
religious['Location 1'] = religious['Location 1'].map(lambda x: str(x).replace('\n', ' '))
addresses = religious['Location 1']
lats = []
longs = []

In [53]:
for addr in addresses:
    loc = geolocator.geocode( addr )
    if loc is None:
        lats.append(0)
        longs.append(0)
    else:
        lats.append( loc.latitude )
        longs.append( loc.longitude )

religious['longitude'] = longs
religious['latitude'] = lats

In [56]:
religious.drop(religious.columns[[0,2,3,4,5]], axis=1, inplace=True)

In [58]:
religious.rename(columns={'type': 'rel_type'}, inplace=True)
religious['type'] = 'religious'

In [59]:
religious.head()

,rel_type,Location 1,longitude,latitude,type
0,Church,"2001 NORTH AVE Baltimore, MD",-76.459695,39.310429,religious
1,Church,"300 BROADWAY Baltimore, MD",-76.594363,39.294822,religious
2,Church,"5010 PARK HEIGHTS AVE Baltimore, MD",-76.674268,39.347764,religious
3,Church,"3606 ROGERS AVE Baltimore, MD",0.000000,0.000000,religious
4,Church,"2504 HILTON ST Baltimore, MD",0.000000,0.000000,religious

In [60]:
vacancies.head()

,ReferenceID,Block,Lot,BuildingAddress,NoticeDate,Neighborhood,PoliceDistrict,CouncilDistrict,Location
0,0002 019 031016,0002,019,1909 W NORTH AVE,03/10/2016,EASTERWOOD,WESTERN,7,"(39.30952601, -76.64848892)"
1,0007 057 031116,0007,057,1734 APPLETON ST,03/11/2016,EASTERWOOD,WESTERN,7,"(39.30856758, -76.64921157)"
2,0125 012 030816,0125,012,522 N CAREY ST,03/08/2016,HARLEM PARK,WESTERN,9,"(39.29482152, -76.63877572)"
3,0151 009 030716,0151,009,317 N GILMOR ST,03/07/2016,FRANKLIN SQUARE,WESTERN,9,"(39.29261888, -76.64231678)"
4,0232 032 031116,0232,032,1324 W LOMBARD ST,03/11/2016,UNION SQUARE,SOUTHERN,9,"(39.28680988, -76.63888529)"

In [77]:
#religious['Location 1'] = religious['Location 1'].map(lambda x: str(x).replace('\n', ' '))
addresses = vacancies['Location']
lats = []
longs = []

In [78]:
from ast import literal_eval as make_tuple

In [79]:
for addr in addresses:
    (lat, lon) = make_tuple(addr)
    #loc = geolocator.geocode( addr )
    #if lat or lon is None:
     #   lats.append(0)
    #  longs.append(0)
    #else:
    lats.append(lat)
    longs.append(lon)

vacancies['longitude'] = longs
vacancies['latitude'] = lats

In [83]:
vacancies.drop(vacancies.columns[[0,1,2,4,5,6,7]], axis=1, inplace=True)
vacancies['type'] = 'vacant'

In [84]:
vacancies.head()

,BuildingAddress,Location,longitude,latitude,type
0,1909 W NORTH AVE,"(39.30952601, -76.64848892)",-76.648489,39.309526,vacant
1,1734 APPLETON ST,"(39.30856758, -76.64921157)",-76.649212,39.308568,vacant
2,522 N CAREY ST,"(39.29482152, -76.63877572)",-76.638776,39.294822,vacant
3,317 N GILMOR ST,"(39.29261888, -76.64231678)",-76.642317,39.292619,vacant
4,1324 W LOMBARD ST,"(39.28680988, -76.63888529)",-76.638885,39.286810,vacant

In [85]:
cctv.head()

,cameraLocation,cameraNumber,cameraProject,Location 1
0,Eutaw and Lexington Market,1,Downtown,"(39.290996, -76.621073999999993)"
1,Eutaw and Fayette,2,Downtown,"(39.29048796517317, -76.623665143680341)"
2,Eutaw and Baltimore,3,Downtown,"(39.289324000000001, -76.620985000000005)"
3,Eutaw and Redwood,4,Downtown,"(39.288677999999997, -76.620947999999999)"
4,Eutaw and Lombard,5,Downtown,"(39.287528000000002, -76.620853999999994)"

In [87]:
addresses = cctv['Location 1']
lats = []
longs = []

In [88]:
for addr in addresses:
    (lat, lon) = make_tuple(addr)
    lats.append(lat)
    longs.append(lon)

cctv['longitude'] = longs
cctv['latitude'] = lats

In [89]:
#cctv.drop(cctv.columns[[0,1,2,4,5,6,7]], axis=1)#, inplace=True)
cctv['type'] = 'cctv'

In [90]:
cctv.head()

,cameraLocation,cameraNumber,cameraProject,Location 1,longitude,latitude,type
0,Eutaw and Lexington Market,1,Downtown,"(39.290996, -76.621073999999993)",-76.621074,39.290996,cctv
1,Eutaw and Fayette,2,Downtown,"(39.29048796517317, -76.623665143680341)",-76.623665,39.290488,cctv
2,Eutaw and Baltimore,3,Downtown,"(39.289324000000001, -76.620985000000005)",-76.620985,39.289324,cctv
3,Eutaw and Redwood,4,Downtown,"(39.288677999999997, -76.620947999999999)",-76.620948,39.288678,cctv
4,Eutaw and Lombard,5,Downtown,"(39.287528000000002, -76.620853999999994)",-76.620854,39.287528,cctv

In [95]:
#arrests.head()

In [92]:
addresses = arrests['IncidentLocation']
lats = []
longs = []

In [94]:
for addr in addresses[0]:
    loc = geolocator.geocode( addr )

print loc.latitude, loc.longitude

GeocoderServiceError: HTTP Error 429: Too Many Requests

In [96]:
# Server would not allow further cleaning to be performed on data -- could not clean arrest data
# Saved current results, to reduce future server requests

libraries.to_csv('data/clean/Libraries.csv')
schools.to_csv('data/clean/Schools.csv')
shelters.to_csv('data/clean/Shelters.csv')
parks.to_csv('data/clean/Parks.csv')
religious.to_csv('data/clean/Religious.csv')
vacancies.to_csv('data/clean/Vacancies.csv')
cctv.to_csv('data/clean/CCTV.csv')